#Cores-Vintages {
    background-color:  (#D1A1A6);
    h1 {margin-bottom: 20px;}
    #header1 {
        background-color:(#D87F3F);
    }
    #header2 {
        background-color:(#5F8A8B);
    }
    #header3 {
        background-color:  (#D9A134);
    }
}
#Cores-Pasteis {
    background-color:(#A4C8E1);
    h1 {margin-bottom: 20px;}
    #header4 {
        background-color: (#F2B9B1);
    }
    #header5{
        background-color:(#B9D9A3);
    }
    #header6 {
        background-color:(#FFD6A5);
    }
}
#Cores-Dark {
    background-color:(#010033);
    h1 { color: white; margin-bottom: 20px;}
    #header7{
        background-color: (#002206);
    }
    #header8{
        background-color:(#300035);
    }
    #header9{
        background-color:(#4b0000);
    }
}